header{
    width: 100%;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 10px;
}
hr{
    margin-top: 30px;
    border-style:solid;
    border-color: black;
    border-radius: 1px;
    size: 2;
}

h1{
    flex:1;
    margin-right: 20px;
    margin-top: 0px;
    width: 200px;
    padding-bottom: 0px;
}

h4{
    flex:1;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 650px;
}

#logout{
    width: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 120px;
    flex:1;
}

#caption{
    margin-left:100px;
}
#content{
    width: 75%;
    margin-left:100px;
    margin-right: 200px;
    height: 100px;
}

#button{
    margin-top: 20px;
    margin-left: 1135px;
    background-color: blue;
}