<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'wall.css' %}">   
    <title>The Wall</title>
</head>
<body>
    <header>
        <h1>CodingDojo Wall</h1>
        <h4>Welcome {{ current_user.first_name }} </h4>
        <a id = "logout" href="http://localhost:8000/logout">Log off</a>
    </header>
    <hr>
    <p id = "caption">Post a message:</p>
    <form action="/create_message" method='POST'>
        {% csrf_token %}
    <textarea id = "content" name="content"></textarea>
    <input type="submit" value="Post a message" id = "button">
    </form>
    <div id = "messages">
            {% for post in newest_first %}
            <div id = "a-post">
                <div id="title-container">
                    <p><a href="/profile/{{post.poster.id}}">{{post.poster.first_name}} {{post.poster.last_name}}</a></p>
                    <p> - {{post.created_at}}</p>
                </div>
                <p>{{post.message}}</p>
                <div id="likes">
                    <a href="/like/{{post.id}}">Like</a>
                    <p>{{ post.user_likes.count }}</p>
                </div>
                <form action="/comment/{{post.id}}" method='POST'>
                    {% csrf_token %}
                    Comment: <input type="text" name="comment" id="mini-comment">
                    <input type="submit" value='submit'>
                </form>
                {% for comment in post.user_comments.all %}
                    <p id="bold" class="speech-bubble">"{{ comment.comment }}"</p>
                    <div id="triangle"></div>
                    <p>Posted by: {{comment.poster.first_name}} {{comment.poster.last_name}}</p>
                {% endfor %}
            </div>
            {% endfor %}
    </div>
</body>
</html> 