<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'wall.css' %}">   
    <title>The Wall</title>
</head>
<body>
    <header>
        <h1>CodingDojo Wall</h1>
        <h4>Welcome {{ current_user.first_name }} </h4>
        <a id = "logout" href="http://localhost:8000/logout">Logout</a>
    </header>
</body>
</html> 